<br />
<br />
<form action="/Default/AgencyInsert/" method="post">
<label>Code</label>
<input class="form-control" type="text" id="Code" name="Code" required>
<label>Name</label>
<input class="form-control" type="text" id="Name" name="Name" required>
<label>Address</label>
<input class="form-control" type="text" id="Address" name="Address" required>
<label>Phone</label>
<input class="form-control" type="text" id="Phone" name="Phone" required>
<label>Email</label>
<input class="form-control" type="text" id="Email" name="Email" required>
<label>Created User</label>
<input class="form-control" type="text" id="CreatedUser" name="CreatedUser" required>
<label>Updated User</label>
<input class="form-control" type="text" id="UpdatedUser" name="UpdatedUser" required>
<button type"submit">Gönder</button>
</form>